<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Travel Diaries</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        
        <link rel="stylesheet" href="/stylesheets/main.css">
        <style>
            body{
                background-image:url(https://blog.sotc.in/wp-content/uploads/2022/08/landscape-sandstone-mountains-with-river-green-valley-himalayas-nubra-valley-jammu-kashmir-india-2-1024x576.jpg);
                background-repeat: no-repeat;
                background-size: cover;
            }
        </style>
    </head>
    <body></body>